body{
    font-family: 'Poppins';
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 60px;
    transition: 0.5s all ease-in-out;
}

.cabecalho .logo:hover {
    transform: scale(1.1);
}

.cabecalho .menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s all;
}

.cabecalho nav li a:hover {
    background-color: #4BB84D;
    cursor: pointer;
}

.container {
    display: flex;
    max-width: 1440px;
    height: calc(100vh - 112px);
    align-items: center;
    padding: 0 30px 30px;
    margin: 0 auto;
}

.container .informacoes{
    display: flex;
    flex-direction: column;
}

.container .imagem-titulo {
    max-width: 450px;
}

.container .descricao {
    color: #a8adb7;
    width: 85%;
    font-size: 18px;
    margin: 30px 0;
}

.mine {
    width: 450px;
}

.botao-trailer {
    width: 200px;
    background-color: #4BB84D;
    color: #ffffff;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
    border-radius: 20px;
} 

.botao-trailer:hover {
    transform: scale(1.1);
}

.fundo-imagem {
    background-color: aqua;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.fundo-imagem img {
    height: 100vh;
    width: 100vw;
}

.fundo-imagem::after {
    content: "";
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,1) 100%);
    position: absolute;
    top: 0;
    left: 0;
}

.container .botao-trailer a {
    text-decoration: none;
    color: #ffffff;
}